<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

</div>

<div class='table-responsive'>
    <table class='table'
            *ngIf='policies && policies.length'>
        <thead>
            <tr>
                <th>Policy</th>
                <th>Code</th>
                <th>Description</th>
                <th>Eligible minimum age</th>
                <th>Eligible maximum age</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor='let policy of policies'>
                    <td>{{ policy.policyName }}</td>
                    <td>{{ policy.policyCode }}</td>
                    <td>{{ policy.policyDescription }}</td>
                    <td>{{ policy.eligibleMinAge }}</td>
                    <td>{{ policy.eligibleMaxAge }}</td>
                </tr>
        </tbody>
    </table>
</div>
